.container {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.userName {
  font-size: 18px;
  margin: 0;
}
.btn {
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100px;
}

.btn:hover {
  background-color: lightgrey;
  outline: none;
  border-color: transparent;
}
